/web/bundles/
/app/bootstrap.*
/app/cache/*
/app/logs/*
/vendor/*
/app/config/parameters.ini
/nbproject/private/
/src/GL/ProtocolloBundle/Resources/private/documenti/*
!/src/GL/ProtocolloBundle/Resources/private/documenti/.gitkeep
*~
